@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.container {
  padding: 40px;
  text-align: center;
  background-color: #FFF8E1;
  border-radius: 10px;
}

.h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: #FFAE12;
}

.ppp {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #333;
}

.uul {
  list-style-type: none;
  padding: 0;
}

.lii {
  margin-bottom: 10px;
}

.lii a {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #FF6F61;
  text-decoration: none;
}

.lii a:hover {
  text-decoration: underline;
}
